@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;
    background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/tram-thinh/hero_bg.webp') no-repeat center / cover;
    .content {
        aspect-ratio: 500 / 891;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        perspective: 1000px;
        font-weight: 300;
        .divider {
            margin: 2% 0;
            max-width: 74px;
            width: 100%;
            aspect-ratio: 74 / 21;    
            background: url('../../assets/images/divider-top.png') no-repeat center / contain;
            &.bot {
                background: url('../../assets/images/divider1.png') no-repeat center / contain;
            }
        }

        .welcome {
            font-family: $font-gothamLight;
            margin-bottom: 2%;
        }

        .couple-name {
            font-size: 36px;
            font-family: $font-PinyonScript;
        }
        .photo-frame {
            margin: 4% 0;
            img {
                max-width: 237px;
            }
        }
            
        .forever{
            font-size: 22px;
            font-family: $font-PinyonScript;
        }
    }

    @media (max-width: 500px) {
        .content {
            .divider {
                max-width: calc((74 / 500) * 100vw);
            }
    
            .couple-name {
                font-size: calc((36 / 500) * 100vw);
            }
            .photo-frame {
                img {
                    max-width: calc((237 / 500) * 100vw);
                }
            }
                
            .forever{
                font-size: calc((22 / 500) * 100vw);
            }
        }
    }
}
