@use "variables" as *;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
    @include flex-center;
    flex-direction: column;
}

img {
    max-width: 500px;
    height: auto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow-default;
    background-color: $secondary-color;
    color: $text-color;
    display: none;
    opacity: 0;
}

/* music */
.music-box {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 1%;
    z-index: 10000;
    cursor: pointer;
    isolation: isolate;

    .label {
        @include flex-center;
        position: relative;
        transform-origin: right center;
        position: absolute;
        right: 30%;
        z-index: 1;
        max-width: 320px;
        width: 200%;
        height: 100%;
        overflow: hidden;
        
        .musicLabel{
            position: relative;
            z-index: 1;
            width: 100%;
            text-align: left;
            font-size: 11px;
            background-color: #fbf8f2;
            color: $text-color-01;
            padding: 4% 15%;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border: 1px solid #c0ad87;
            opacity: .9;
        }
    }
    .player {
        max-width: 50px;
        width: 100%;
        aspect-ratio: 1;
        z-index: 9999;
        @include flex-center;
        // border: 1px solid $secondary-color;
        border-radius: 50%;
        // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        // background: rgb(114, 88, 43);
        #iconSvg {
            width: 100%;
            height: auto;
        }
    }
}


@media (max-width: 500px) {
    body {
        font-size: calc((14 / 500) * 100vw);;
    }
    .music-box {
        bottom: calc((10 / 500) * 100vw);
        .label {
            max-width: calc((300 / 500) * 100vw);
            .musicLabel {
                font-size: calc((11 / 500) * 100vw);
            }
        }
        .player {
            max-width: calc((50 / 500) * 100vw);
        }
    }
}

.spin {
    animation: spin 4s linear infinite;
}

/* Định nghĩa hoạt ảnh xoay */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
