$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$title-color: #393934ff;
$text-color: #efede6ff;
$text-color-01: #393934ff;
$primary-color: #b4b3a8ff;
$input-color: #d0c9b7ff;
$active-color: #393934ff;
$secondary-color: #f1ece8ff;
$bg-color: #fff;

// Font
$font-main: 'MTDPortrait', sans-serif;
$font-gotham: 'SVN-GothamBook', sans-serif;
$font-gothamBold: 'SVN-gothamBold', sans-serif;
$font-gothamLight: 'SVN-GothamLight', sans-serif;
$font-GothamLightItalic: 'SVN-GothamLightItalic', sans-serif;

$font-SVN-Gilroy-Bold: "SVN-Gilroy-Bold", sans-serif;
$font-SVN-Gilroy-Xlight: "SVN-Gilroy-Xlight", sans-serif;

$font-lora: 'Lora', sans-serif;
$font-PinyonScript: 'PinyonScript', sans-serif;
$font-UVNKeChuyen3: 'UVNKeChuyen3', sans-serif;
$font-UVNBUCTHU: 'UVNBUCTHU', sans-serif;
$font-BlushingRose: 'BlushingRose', sans-serif;
$font-ICIELBCOLDSTYLE: 'ICIELBCOLDSTYLE', sans-serif;
$font-1FTV-VIP-Qerginas: '1FTV-VIP-Qerginas', sans-serif;
$font-Bellamy-Stevenson: 'Bellamy-Stevenson', sans-serif;

$font-HLTJaneAusten: 'HLTJaneAusten', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
